body {
font-family: Verdana;
font-size: 11px;
margin: 0;
}
.homeBox {
box-sizing: border-box;
height: 100%;
text-align: center;
padding-top: 10%;
color: #b5b5b5;
}
.homeBox h1 {font-size: 12px}
@media (min-width: 350px) {
.homeBox h1 {font-size: 14px}
}
@media (min-width: 500px) {
.homeBox h1 {font-size: 18px}
}
@media (min-width: 600px) {
.homeBox h1 {font-size: 25px}
}
@media (min-width: 1000px) {
.homeBox h1 {font-size: 35px}
}

.homeBox img {
width: 30%;
}
.chatBox {
height: 100%;
}
.chatBox .authUser {
background: #af3dff;
border-radius: 50px;
width: 50px;
height: 50px;
display: inline-block;
float: left;
color: #fff;
box-sizing: border-box;
text-align: center;
line-height: 50px;
font-size: 10px;
margin-top: 5px;
}
.titleBox {
box-sizing: border-box;
padding: 7px 10px;
background: #555;
color: #fff;
height: 30px;
}
.titleBox b {
background: #249c4e;
font-weight: normal;
padding: 10px;
margin: 0px 5px;
}
.titleBox b span {
font-weight: bold;
}
.messagesBox {
height: calc(100% - 100px - 60px);
overflow-y: scroll;
padding-bottom: 25px;
padding-right: 10px;
}
.messageInputBox {
display: inline-block;
padding: 5px;
width: calc(100% - 50px);
height: calc(100% - 30px);
box-sizing: border-box;
}
.messageInputBox textarea {
width: 100%;
height: 100%;
}
.messageBox {
margin-left: 10px;
position: relative;
margin-top: 25px;
}
.messageBox .user {
box-sizing: border-box;
border: 3px solid #ff6ce6;
display: inline-block;
width: 50px;
height: 50px;
}
.messageBox {
text-align: right;
}
.messageBox.mine {
text-align: left;
}
.messageBox .text {
color: #fff;
box-sizing: border-box;
vertical-align: top;
display: inline-block;
position: relative;
padding: 10px;
border-radius: 5px;
background: #249c4e;
}
.messageBox.mine .text {
background: #af3dff;
}
.messageBox .arrow {
position: absolute;
bottom: -10px;
width: 0;
height: 0;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
}
.messageBox .arrow.left {
border-right: 10px solid #249c4e;
right: 10px;
}
.messageBox .arrow.right {
border-left: 10px solid #af3dff;
left: 10px;
}
.messageBox .time {
color: #555;
font-size: 9px;
position: absolute;
bottom: -15px;
right: 20px;
}
.messageBox.mine .time {
left: 20px;
}
.messageBox .mark {
position: absolute;
bottom: -16px;
right: 120px;
color: #999;
cursor: default;
}
.messageBox.mine .mark {
left: 120px;
}

.sendMessage {
width: 200px;
height: 30px;
float: right;
margin-right: 4px;
}
.answerBox {
border-top: 1px solid #E0E0E0;
height: 100px;
padding: 5px 10px;
box-sizing: border-box;
}

.chatTitle {
color: #999;
display: inline-block;
margin-left: 20px;
}

.usersList {
width: 150px;
float: left;
background: #fff;
height: 100%;
box-sizing: border-box;
border-right: 1px solid #ccc;
}
.chatBox {
height: 100%;
width: calc(100% - 150px);
float: left;
}

.usersList .title {
font-weight: bold;
padding: 10px;
border-bottom: 1px solid #ccc;
background: #e9e9e9;
}
.usersList .title.btn {
background: #61b534;
border-bottom: 1px solid #61b534;
color: #fff;
cursor: pointer;
}
.usersList .title.btn:hover {
background: #6fcf3b;
border-bottom: 1px solid #61b534;
color: #fff;
}

.usersList .user {
border-bottom: 1px solid #e9e9e9;
padding: 5px 10px;
cursor: pointer;
position: relative;
}
.usersList .user:hover {
color: #fff;
background: #af3dff !important;
border-bottom: 1px solid #af3dff !important;
}
.usersList .user.selected {
background: #ff971f;
border-bottom: 1px solid #ff971f;
}
.usersList .user span {
position: absolute;
top: 3px;
right: 5px;
background: #3c88ff;
color: #fff;
border-radius: 10px;
padding: 3px;
font-size: 9px;
min-width: 13px;
text-align: center;
}
